# Python
__pycache__/
*.pyc
*.pyo

# Environments
.venv/
env/
venv/

# Node and frontend build artifacts
node_modules/
webapp/frontend/node_modules/
webapp/frontend/dist/

# Exclude bundled binary assets from source control
webapp/frontend/public/icons/
webapp/frontend/public/images/
webapp/static/icons/
webapp/static/images/

# VS Code
.vscode/
